html, body
	{
		height: 100%;
	}
	

body
	{
		margin: 0px;
		padding: 0px;
		background-image: url("../images/cityscape.jpg");
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		font-family: 'Varela', sans-serif;
		font-size: 11pt;
		font-weight: 300;
		color: #656565;
	}
	
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}	

input[type="button"], [type="submit"]
	{
		font-family: "Calibri", sans-serif;
		text-transform: uppercase;
		outline: 0;
		background: #363636;
		width: 100%;
		border: 0;
		padding: 15px;
		color: #FFFFFF;
		font-size: 18px;
		-webkit-transition: all 0.3 ease;
		transition: all 0.3 ease;
		cursor: pointer;
    }
input[type="button"]:hover,input[type="button"]:active,input[type="button"]:focus,input[type="submit"]:hover,input[type="submit"]:active,input[type="submit"]:focus
	{
		background: #4F4F4F;
    }


.form input[type="text"]
	{
		font-family: "Calibri", sans-serif;
		outline: 0;
		background: #f2f2f2;
		width: 20%;
		border: 0;
		margin: 0 0 15px;
		padding: 15px;
		box-sizing: border-box;
		font-size: 14px;
		position: center;
  
	}

	
h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 700;
		color: #2B3F48;
	}
	
p, ol, ul
	{
		margin-top: 0;
	}
	
.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1000px;
	}
.form .error
	{
		margin: 0 0 15px;
		color: red;
		font-size: 12px;
	}
	
.form2 
	{
		position: relative;
		opacity: 0.95;
		z-index: 1;
		background: #FFFFFF;
		margin: 0em auto;
		padding: 45px;
		text-align: center;
		width: 1000px;
	}
	
#header-wrapper
	{
		background: #333333;
	}

#header
	{
		position: relative;
		padding: 3em 9em;
	}

#logo
	{
		position: absolute;
		top: 1em;
		left: -1em;
	}

#logo h1
	{
		color: #FFF;
	}

#logo a
	{
		text-decoration: none;
		text-transform: uppercase;
		color: #FFF;
	}

#menu
	{
		position: absolute;
		top: 2em;
		right: 8em;
	}

#menu ul
	{
		display: inline-block;
	}

#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}

#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: #FFF;
	}

#menu li:hover a, #menu li.active a, #menu li.active span
	{
		color: #FFF;
	}

a:link, a:visited 
	{
		padding: 16px 25px;
		text-align: center; 
		text-decoration: none;
		display: inline-block;
	}

#menu a:hover,#menu a:active 
	{
		background-color:#666666;
	}






